<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/stylesheets/lists.css">
    <link rel="stylesheet" href="/stylesheets/navigation-bar.css">
    <link rel="stylesheet" href="/stylesheets/sidebar.css">
    <link rel="stylesheet" href="/stylesheets/event.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top justify-content-between" style="height: 50px;">
        <!-- Navbar content -->
        <div class="navbar-nav" style="margin-top: 7px;">
            <div class="navbar-brand">
                <input type="checkbox" id="check">
                <label for="check" id="sidebar-btn">
                    <i class="fas fa-bars"></i>
                </label>
                Event App
            </div>

        </div>
        <div class="navbar-nav">
            <button id="add-item-btn" class="btn btn-success" href="#">
                <span style="margin-right: 5px;">New Event</span>
                <span class="material-icons">
                    playlist_add
                </span>
            </button>
        </div>
        <div class="navbar-nav">
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="user-btn" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <span class="material-icons">account_circle</span>
                    <span style="margin-left: 5px;">Phuc Vinh</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user-btn">
                    <a class="dropdown-item" href="http://localhost:3000/mod/setting">Setting</a>
                    <form action="/auth/logout" method="POST">
                        <input class="dropdown-item" type="submit" value="Log out">
                    </form>
                </div>
            </div>
        </div>
    </nav>

    <div class="main">
        <div class="sidebar" style="left: -220px;">
            <a href="http://localhost:3000/mod" class="link">
                <span class="material-icons">home</span>
                <span>Home</span>
            </a>
            <a href="#" class="link" id="drop">
                <span class="material-icons">dns</span>
                <span>Lists</span>
            </a>
            <a href="#" class="link">
                <span class="material-icons">assignment_turned_in</span>
                <span>Completed List</span>
            </a>
        </div>
        <div class="main-content">
            <table id="event-table" class="display">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Event's name</th>
                        <th>Venue</th>
                        <th>Responsible</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Stage</th>
                        <th>Expect Attendees</th>
                        <th>Number of Participants</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1915940</td>
                        <td>Họp IT</td>
                        <td>Ticklab</td>
                        <td>Nguyễn Tấn Đạt</td>
                        <td>2021/16/03</td>
                        <td>2011/16/03</td>
                        <td>Cancel</td>
                        <td>15</td>
                        <td>15</td>
                    </tr>
                    <tr>
                        <td>1911560</td>
                        <td>Họp Cơ Khí</td>
                        <td>Ticklab</td>
                        <td>Nguyễn Minh Thành</td>
                        <td>2021/16/03</td>
                        <td>2011/19/03</td>
                        <td>Upcoming</td>
                        <td>15</td>
                        <td>15</td>
                    </tr>
                    <tr>
                        <td>1912715</td>
                        <td>Họp giao ban</td>
                        <td>Ticklab</td>
                        <td>Huỳnh Hoàng Kha</td>
                        <td>2021/16/03</td>
                        <td>2011/18/03</td>
                        <td>Upcoming</td>
                        <td>15</td>
                        <td>15</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Event's name</th>
                        <th>Venue</th>
                        <th>Responsible</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Stage</th>
                        <th>Expect Attendees</th>
                        <th>Number of Participants</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <form id="event-form" style="display: none;" action="/create/event" method="POST">
        <div id="left-form">
            <div class="event-header">
                <label for="event-name">Event Name</label>
                <input type="text" id="event-name" name="eventname" value="New Event">
            </div>
            <div class="form-attribute">
                <label for="start-time">Start Time</label>
                <input type="datetime-local" name="startTime" id="start-time">
            </div>
            <div class="form-attribute">
                <label for="end-time">End Time</label>
                <input type="datetime-local" name="endTime" id="end-time">
            </div>
            <div class="form-attribute">
                <label for="location">Location</label>
                <input type="url" name="location" id="location">
            </div>
            <div class="form-attribute">
                <label for="scale">Scale</label>
                <select name="" id="">
                    <option value="cokhi">Team cơ khí</option>
                    <option value="dien">Team Điện</option>
                    <option value="it">Team IT</option>
                </select>
            </div>
            <div class="form-attribute">
                <label for="score">Score</label>
                <input type="number" name="score" id="score" min="1" max="100">
            </div>
        </div>
        <div id="right-form">
            <div class="form-attribute">
                <label for="description" style="color: black;">Description</label>
                <textarea name="description" id="description" cols="30" rows="7"
                    placeholder="Describe your event here ..."></textarea>
            </div>
            <div id="select">
                <div id="list-attendees">
                    <div class="title">Add attendees</div>
                    <div style="overflow-y: scroll; max-height: 180px;">
                        <div class="person">
                            <input type="checkbox" name="" id="a1">
                            <label for="a1">Nguyễn Phúc Vinh</label>
                        </div>
                        <div class="person">
                            <input type="checkbox" name="" id="a2"> 
                            <label for="a2">Cù Đỗ Thanh Nhân</label>
                        </div>
                        <div class="person">
                            <input type="checkbox" name="" id="a3"> 
                            <label for="a3">Vũ Nguyễn Minh Huy</label>
                        </div>
                        <div class="person">
                            <input type="checkbox" name="" id="a4"> 
                            <label for="a4">Ngô Minh Hồng Thái</label>
                        </div>
                        <div class="person">
                            <input type="checkbox" name="" id="a5"> 
                            <label for="a5">Châu Thành Đạt</label>
                        </div>
                        <div class="person">
                            <input type="checkbox" name="" id="a6"> 
                            <label for="a6">Trương Quý Phát</label>
                        </div>
                        <div class="person">
                            <input type="checkbox" name="" id="a7"> 
                            <label for="a7">Nguyễn Lập Quân</label>
                        </div>
                        <div class="person">
                            <input type="checkbox" name="" id="a8"> 
                            <label for="a8">Vũ Nguyễn Minh Huy</label>
                        </div>
                    </div>
                </div>
                <div id="list-times">
                    <div class="title">Recommend Times</div>
                    <div id="time-input">
                        <input type="datetime-local" name="recommendTime" id="recommendTime">
                        <span class="material-icons" style="text-align: center;">add</span>
                    </div>
                    <div style="overflow-y: scroll; max-height: 150px;">
                        <div class="time">
                            <input type="checkbox" name="" id="t1">
                            <label for="t1">03/17/2021 03:00 PM</label>
                        </div>
                        <div class="time">
                            <input type="checkbox" name="" id="t2">
                            <label for="t2">03/17/2021 03:00 PM</label>
                        </div>
                        <div class="time">
                            <input type="checkbox" name="" id="t3">
                            <label for="t3">03/17/2021 03:00 PM</label>
                        </div>
                        <div class="time">
                            <input type="checkbox" name="" id="t4">
                            <label for="t4">03/17/2021 03:00 PM</label>
                        </div>
                        <div class="time">
                            <input type="checkbox" name="" id="t5">
                            <label for="t5">03/17/2021 03:00 PM</label>
                        </div>
                        <div class="time">
                            <input type="checkbox" name="" id="t6">
                            <label for="t6">03/17/2021 03:00 PM</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span class="material-icons" id="close-event-btn">close</span>
        <input type="submit" id="submit" value="Save">
    </form>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="/javascripts/sidebar.js"></script>
    <script src="/javascripts/event.js"></script>

    <script>
        var table = $('#event-table').DataTable();
        $('#event-table_wrapper label').css('color', 'white');
        $('#event-table_wrapper input').css('background-color', 'white');
        $('#event-table_wrapper select').css('color', 'black');
        $('#event-table_wrapper select').css('background-color', 'white');
        $('#event-table_info').css('color', 'whitesmoke');
        $('.paginate_button a').css('color', 'white');
        $('#event-table tbody').on('mouseover', 'tr', function () {
            this.style.cursor = 'pointer';
            this.style.backgroundColor = 'grey';
        });
        $('#event-table tbody').on('mouseleave', 'tr', function () {
            this.style.cursor = 'pointer';
            this.style.backgroundColor = 'white';
        });
        $('#event-table tbody').on('click', 'tr', function () {
            var data = table.row(this).data();
            for(let i of all) {
                console.log(i);
                i.disabled = true;
            }
            eventForm.style.display = 'flex';
        });
    </script>
</body>

</html>