<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <div>
        <img src="/images/avatar.png" alt="avatar">
        <div class="form-box">
            <div class="button-box">
                <div id="btn"></div>
                <div style="display: flex; justify-content: space-around;">
                    <button type="button" class="toggle-btn">Log In</button>
                    <button type="button" class="toggle-btn">Sign Up</button>
                </div>
            </div>
            <form action="/auth/login" method="POST" class="input-group">
                <label for="username_login">Username:</label>
                <input type="text" placeholder="Username" id="username_login" name="username" class="input-field" required>
                <label for="password_login">Password:</label>
                <input type="password" placeholder="Password" id="password_login" name="password" class="input-field" required>
                <input type="checkbox" id="remember">
                <label for="remember" style="font-weight: 400; font-size: 12px;">Remember Me</label>
                <button type="submit" class="submit-btn">Login</button>
            </form>
            <form action="/auth/create" method="POST" class="input-group" style="left: 450px">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" class="input-field" required placeholder="abcxyz@hcmut.edu.vn">
                <label for="username_signup">Username:</label>
                <input type="text" placeholder="Username" id="username_signup" name="username" class="input-field" required>
                <label for="password_signup">Password:</label>
                <input type="password" placeholder="Password" id="password_signup" name="password" class="input-field" required>
                <label for="password_retype">Confirm password:</label>
                <input type="password" placeholder="Retype password" id="password_retype" class="input-field" required>
                <button type="submit" class="submit-btn">Create an account</button>
            </form>
        </div>
    </div>
    <script src="/javascripts/index.js"></script>
</body>

</html>