#event-form {
    position: relative;
    z-index: 100;
    background-color: white;
    width: 55%;
    color: black;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    border: 0.5px solid black;
    margin-bottom: 10px;
}

#event-name {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 20px;
    width: 100%;
    color: rgb(24, 109, 109);
    border: none;
    outline: none;
    border-bottom: 2px solid #666666;
}
.event-header label{
    font-weight: 600;
    font-size: 14px;
    color: black;
}

#submit {
    font-size: 16px;
    background: #17a2b8;
    color: white;
    padding: 7px 10px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    outline: none;
}
#edit {
    font-size: 16px;
    background: #17a2b8;
    color: white;
    padding: 7px 10px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    outline: none;
}
#cancel {
    font-size: 16px;
    color: black;
    padding: 7px 10px;
    font-weight: normal;
    border-radius: 5px;
    border: none;
    outline: none;
}

#list-attendees {
    width: 100%;
    border-radius: 5px;
}

#list-times {
    width: 100%;
    border-radius: 5px;
}
.person {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.person .material-icons {
    font-size: 16px;
    font-weight: bold;
    margin: 0 -7px;
    color: rgb(116, 114, 114);
}


.time {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.time span:first-child {
    margin-left: -5px;
}
.time span:last-child {
    margin-right: -6px;
} 
.at {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}
.at:hover {
    background-color: rgba(245, 245, 245, 0.952);
}
.time:hover {
    background-color: rgba(245, 245, 245, 0.952);
}

.delete {
    font-size: 16px;
    font-weight: bold;
    color: #5e5e5e;
}
.delete:hover {
    cursor: pointer;
    background-color: rgb(202, 202, 202);
    border-radius: 50%;
}

.event-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

#list-at {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(37, 165, 165);
    color: white;
    padding: 7px 10px;
    border-radius: 3px;
}
#list-at:hover {
    cursor: pointer;
}
.at span {
    position: relative;
    left: -5px;
}
.counting {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 75%;
    background-color: white;
    border-radius: 5px;
    z-index: 300;
}
.counting #counting-title {
    background-color: teal;
    font-size: 18px;
    padding: 10px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#search-at {
    width: 100%;
    padding: 5px;
    font-weight: 400;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    outline: none;
}
#close-counting:hover {
    color: rgb(245, 68, 68);
    cursor: pointer;
}

.group-btn-at {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    right: -10px;
}
.group-btn-at .rmv-at {
    font-size: 16px;
    font-weight: bold;
    color: #666666;
}
.group-btn-at .rmv-at:hover {
    cursor: pointer;
    color: tomato;
}
.person-view {
    padding-left: 15px;
}
.time-view {
    padding-left: 35px;
}

#suggestion {
    position: absolute;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow-y: scroll; 
    max-height: 250px; 
    margin-bottom: 17px; 
    margin-top: -17px;
    left: 20.5%;
    width: 76%;
    z-index: 10;
}

.team {
    display: flex; 
    align-items: center;
    font-weight: bold;
    text-decoration: #5e5e5e;
}
.team span:first-child {
    margin-right: 5px;
}
.team:hover {
    background-color: #e7e7e7;
    cursor: pointer;
}
#search-result .list-group-item:hover {
    background-color: #e7e7e7;
    cursor: pointer;
}