body {
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    font-family: Arial, Helvetica, sans-serif, "Roboto";
}
/* Main content */
.main {
    color: white;
    margin-top: 47px;
    height: 92vh;
    display: flex;
    justify-content: center;
}

table {
    margin-top: 20px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}
.label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.item {
    width: 100%;
    padding: 8px;
    margin: 5px;
    background-color: #343a40;
}
.item:hover {
    cursor: pointer;
}
.item .item-label {
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
}
.main-content {
    width: 90%;
    transition: 0.1s;
    filter: blur(0px);
}
#calendar {
    min-height: 570px;
    width: 90%; 
    margin-top: 10px;

}