body {
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    font-family: Arial, Helvetica, sans-serif;
}

#intro {
    top: 55%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: rgb(133, 130, 130);
    font-size: 25px;
    background-color: transparent;
    text-align: center;
}