body {
    margin: 0;
    padding: 0;
    background-color: rgb(26, 26, 26);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('/images/background.jpg');
    background-size: cover;
}

.form-box {
    width: 380px;
    height: 480px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0, 0.9);
    border-radius: 10px;
    padding: 25px;
    color: white;
    overflow: hidden;
}

img {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 13px);
    border-radius: 50%;
    z-index: 100;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: none;
    position: relative;
    color: white;
    font-weight: bold;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    border-radius: 30px;
    transition: 0.4s;
    background-color: #17a2b8;
    box-shadow: 0 0 20px 9px #fffdfd67;
}

.input-group {
    top: 180px;
    position: absolute;
    width: 362px;
    transition: 0.4s;
}
.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-top: none;
    border-left: none;
    border-bottom: 1px solid rgb(49, 49, 49);
    border-right: none;
    outline: none;
    border-radius: 5px;
}

.submit-btn {
    width: 100%;
    padding: 10px 30px;
    cursor: pointer;
    background-color: rgb(241, 43, 43);
    border: none;
    outline: none;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    position: relative;
    margin-left: 10px;
}
.submit-btn:hover {
    background-color: rgb(214, 36, 36);
}

input[type='checkbox'] {
    margin: 10px 10px 30px 0;
}

label {
    font-weight: bold;
    font-size: 16px;
}