body {
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    font-family: Arial, Helvetica, sans-serif, "Roboto";
    overflow-x: hidden;
}
/* Main content */
.main {
    color: white;
    margin-top: 47px;
    display: flex;
    justify-content: center;
}

.main-content {
    width: 100%;
    margin: 10px;
    height: fit-content;
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
}

#event-table {
    background-color: #23282e;
    border-radius: 5px;
}
#event-table tbody tr {
    color: black;
}
#event-table tbody tr:hover {
    cursor: pointer;
}
#account-table {
    background-color: #23282e;
    border-radius: 5px;
}

#account-table tbody tr {
    color: black;
}
#account-table tbody tr:hover {
    cursor: pointer;
}
.delete-user {
    display: inline-block;
    color: gray;
}
.delete-user:hover {
    color: rgb(61, 61, 61);
}
.mod {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
}