.sidebar {
    padding: 0px 0px;
    height: 100%;
    position: fixed;
    left: 0;
    background: #343a40;
    display: flex;
    flex-flow: column;
    transition: 0.4s;
    z-index: 1;
    width: 220px;
}
.sidebar a[class='link'] {
    padding: 0 20px;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    width: 100%;
    line-height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sidebar a[class='link']:hover {
    background: #19b3d3;
}
.sidebar span {
    margin-right: 7px;
}
.sidebar li {
    list-style-type: none;
    padding: 5px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

label #sidebar-btn {
    z-index: 1;
}

#check {
    display: none;
}